#
# Default settings for the simulation
# Adapted from The ONE simulator for ConeSim
#

## Scenario settings
Scenario.name = default_scenario
Scenario.simulateConnections = true
Scenario.updateInterval = 0.1
# 43200s == 12h
Scenario.endTime = 43200
Scenario.nrofHostGroups = 1

## Interface-specific settings:
# "Bluetooth" interface for all nodes
btInterface.type = SimpleBroadcastInterface
# Transmit speed of 2 Mbps = 250kBps
btInterface.transmitSpeed = 250k
btInterface.transmitRange = 10

# High speed, long range, interface for group 4
highspeedInterface.type = SimpleBroadcastInterface
highspeedInterface.transmitSpeed = 10M
highspeedInterface.transmitRange = 1000

## Group-specific settings:
# groupID : Group's identifier. Used as the prefix of host names
# nrofHosts: number of hosts in the group
# movementModel: movement model of the hosts (valid class name from movement package)
# waitTime: minimum and maximum wait times (seconds) after reaching destination
# speed: minimum and maximum speeds (m/s) when moving on a path
# bufferSize: size of the message buffer (bytes)
# router: router used to route messages (valid class name from routing package)
# msgTtl : TTL (minutes) of the messages created by this host group
Group.groupID = n
Group.nrofHosts = 10
Group.movementModel = RandomWaypoint
Group.router = EpidemicRouter
Group.bufferSize = 5M
Group.waitTime = 0, 120
Group.speed = 0.5, 1.5
Group.msgTtl = 300
Group.nrofInterfaces = 1
Group.interface1 = btInterface

## Movement model specific settings
MovementModel.worldSize = 4500, 3400
MovementModel.warmup = 1000
MovementModel.speed = 0.5, 1.5
MovementModel.waitTime = 0, 120

## Message Router default settings
MessageRouter.bufferSize = 5M
MessageRouter.msgTtl = 300

## Optimization settings
Optimization.cellSizeMult = 5
Optimization.randomizeUpdateOrder = true

## Reports - how many reports to load and where to put output
Report.nrofReports = 1
Report.report1 = MessageStatsReport
Report.precision = 2

